
body {
  background-color: darkgoldenrod;
}

#board {
  width: 1000px;
  height: 500px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}

#player1 {
  background-color: lightgray;
  width: 20px;
  height: 100px;
  position: absolute;
  left: 10px;  /* Uncomment if you want to set a "starting" position */
  top: 100px;  /* Uncomment if you want to set a "starting" position */
}

#player2 {
  background-color: lightgray;
  width: 20px;
  height: 100px;
  position: absolute;
  left: 970px;  /* Uncomment if you want to set a "starting" position */
  top: 100px;  /* Uncomment if you want to set a "starting" position */
}
#ball{
  background-color: rgb(40, 6, 95);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  border: 1px solid lightslategray;
}
#scoreIDPlayer1{
  font-size: 3vw;
  color: white;
  position: absolute;
  left: 100px;
  top: 50px;
}
#scoreIDPlayer2{
  font-size: 3vw;
  color: white;
  position: absolute;
  left: 900px;
  top: 50px;
}
#GameOver{
  font-size: 3vw;
  color: white;
  position: absolute;
  left: 450px;
  top: 250px;
}